<div class="flex min-w-0 flex-auto flex-col gap-8 container mx-auto px-8">
    <mat-card appearance="outlined" class="rounded-lg mt-8">
        <div #chartContainer class="chart-width"></div>
    </mat-card>

    <div class="grid grid-cols-2 gap-6">
        
        <mat-card appearance="outlined" class="rounded-lg">
            <mat-card-header class="text-center">
                <mat-card-title class="font-bold">Trending Search</mat-card-title>
            </mat-card-header>
            <div class="mt-6 grid flex-auto grid-cols-4 gap-4">
                <div
                    class="col-span-4 flex flex-col items-center justify-center rounded-2xl  px-1 py-8 text-green-500 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                    <div class="text-5xl font-semibold leading-none tracking-tight sm:text-7xl">
                        {{ trendingSearch?.count }}
                    </div>
                    <div class="mt-1 text-sm font-medium sm:text-lg">
                        {{ trendingSearch?.name }}
                    </div>
                </div>
            </div>
        </mat-card>

        
        <mat-card appearance="outlined" class="rounded-lg">
            <mat-card-header class="text-center">
                <mat-card-title class="font-bold">Least Search</mat-card-title>
            </mat-card-header>
            <div class="mt-6 grid flex-auto grid-cols-4 gap-4">
                <div
                    class="col-span-4 flex flex-col items-center justify-center rounded-2xl  px-1 py-8 text-red-500 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                    <div class="text-5xl font-semibold leading-none tracking-tight sm:text-7xl">
                        {{ leastSearch?.count }}
                    </div>
                    <div class="mt-1 text-sm font-medium sm:text-lg">
                        {{ leastSearch?.name }}
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <mat-card appearance="outlined" class="rounded-lg mb-8">
        <div class="table-container">
            <table mat-table [dataSource]="searchData" cdkDropList cdkDropListOrientation="horizontal">


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>


                <ng-container matColumnDef="searchQuery">
                    <th mat-header-cell *matHeaderCellDef> Dishes </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.searchQuery.join(', ')}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </mat-card>
</div>