

<div class="flex min-w-0 flex-auto flex-col gap-8 container mx-auto px-8">


    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 mt-8">
        <mat-card appearance="outlined" class="rounded-lg lg:col-span-8">
        <div #chartContainer class="chart-width"></div>
    </mat-card>

    <mat-card appearance="outlined" class="rounded-lg lg:col-span-4" style="height: 365px;">
        <mat-card-header class="text-center">
            <mat-card-title class="font-bold">Slow Moving Dishes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let dish of slowMovingDishes; let i = index"
                    class="hover:bg-gray-50 dark:hover:bg-white dark:hover:bg-opacity-5 border-b border-gray-300 last:border-b-0 py-3">
                    <div class="flex w-full items-center justify-between">
                        <span class="text-md font-medium" [ngClass]="{ 'text-red-600 font-bold': i===0}">{{ dish.name }}</span>
                        <span class="text-md font-semibold" [ngClass]="{ 'text-red-600 font-bold': i===0}">{{ dish.count
                            }}</span>
                    </div>
                    </mat-list-item>
                    </mat-list>
                    </mat-card-content>
                    </mat-card>
                    </div>

    <mat-card appearance="outlined" class="rounded-lg lg mb-8">
        <div class="flex justify-between items-center p-4">
            <span class="text-lg font-semibold">Overview</span>
            <button mat-icon-button [matMenuTriggerFor]="exportMenu">
                <mat-icon svgIcon="heroicons_outline:bars-3"></mat-icon>
            </button>
            <mat-menu #exportMenu="matMenu">
                <button mat-menu-item (click)="exportToCSV()">
                    <mat-icon>description</mat-icon> Export as CSV
                </button>
                <button mat-menu-item (click)="exportToExcel()">
                    <mat-icon>table_chart</mat-icon> Export as Excel
                </button>
            </mat-menu>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">

                

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
                </ng-container>


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
                </ng-container>


                <ng-container matColumnDef="dishes">
                    <th mat-header-cell *matHeaderCellDef> Dishes </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dishes.join(', ')}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="tableNumber">
                    <th mat-header-cell *matHeaderCellDef> Table Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.tableNumber}} </td>
                </ng-container>


                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                


                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </mat-card>
</div>



<!-- </div> -->